<div class=" vh-100 p-4 bg-gray">
    <h5 class="mb-5 pb-4 fw-medium" style="font-size: 22px">
        Edit City
    </h5>

    <div class="container bg-white py-3 px-5 my-5 rounded " style="width: 900px;">


        <form [formGroup]="editCityForm" (ngSubmit)="onsubmit(editCityForm)">

            <div class="form-group ">

                <label for="cityName">City Name</label>
                <input type="text" id="cityName" class="form-control" formControlName="cityName"
                    placeholder="please enter the name">
                <span *ngIf="editCityForm.get('cityName')?.invalid && editCityForm.get('cityName')?.touched">


                    <span *ngIf="editCityForm.get('cityName')?.hasError('UserNameValueError')">
                        this name is forbidden
                    </span>
                    <span *ngIf="editCityForm.get('cityName')?.hasError('required')">
                        this field is required
                    </span>

                </span>

            </div>

            <div class="form-group">

                <label for="normalShippingCost">Normal Shipping Cost</label>
                <input type="text" id="normalShippingCost" class="form-control" formControlName="normalShippingCost"
                    placeholder="please enter the Normal Shipping Cost">
                <span
                    *ngIf="editCityForm.get('normalShippingCost')?.invalid && editCityForm.get('normalShippingCost')?.touched">


                    <span *ngIf="editCityForm.get('normalShippingCost')?.hasError('UserNameValueError')">
                        this Normal Shipping Cost is forbidden
                    </span>
                    <span *ngIf="editCityForm.get('normalShippingCost')?.hasError('required')">
                        this field is required
                    </span>

                </span>

            </div>

            <div class="form-group ">

                <label for="pickupShippingCost">Pickup Shipping Cost</label>
                <input type="text" id="pickupShippingCost" class="form-control" formControlName="pickupShippingCost"
                    placeholder="please enter the Pickup Shipping Cost">
                <span
                    *ngIf="editCityForm.get('pickupShippingCost')?.invalid && editCityForm.get('pickupShippingCost')?.touched">


                    <span *ngIf="editCityForm.get('pickupShippingCost')?.hasError('UserNameValueError')">
                        this Pickup Shipping Cost is forbidden
                    </span>
                    <span *ngIf="editCityForm.get('pickupShippingCost')?.hasError('required')">
                        this field is required
                    </span>

                </span>

            </div>



            <div class="d-flex flex-row justify-content-center">

                <div class="form-group ">


                    <button class="btn btn-dark " type="submit" routerLink="/city"> Back </button>


                </div>
                <div class="form-group ">
                    <button class="btn btn-primary" type="submit"> Submit </button>

                </div>

            </div>



        </form>

    </div>
</div>