<div class= " bg-gray vh-150 p-4">


  <form [formGroup]="addTraderForm" (ngSubmit)="onsubmit(  )" >

          <div class="form-group ">

              <label for="name">userName</label>
              <input
               type="text"
               id="name"
               class="form-control"
               formControlName="userName"
               placeholder="please enter userName"
                >
              <span *ngIf="addTraderForm.get('userName')?.invalid && addTraderForm.get('userName')?.touched">
                <span *ngIf="addTraderForm.get('userName')?.hasError('required')">
                  password is required
              </span>
              <span *ngIf="addTraderForm.get('userName')?.hasError('minlength')">
                userName must be bigger than or equal 5
            </span>
            <span *ngIf="addTraderForm.get('userName')?.hasError('maxlength')">
              userName must be less than or equal
          </span>
              </span>

          </div>




          <div class="form-group">
              <label for="email">Email</label>
              <input
               type="text"
               id="email"
               class="form-control"
               formControlName="email"
               placeholder="please enter the email"

               >

              <span *ngIf="addTraderForm.get('email')?.invalid && addTraderForm.get('email')?.touched">
                  please enter the valid email
              </span>

          </div>

          <div class="form-group">
              <label for="password">Password</label>
              <input
               type="password"
               id="password"
               class="form-control"
               formControlName="password"
               placeholder="please enter the password"
               >
              <span *ngIf="addTraderForm.get('password')?.invalid && addTraderForm.get('password')?.touched">
                  <span *ngIf="addTraderForm.get('password')?.hasError('pattern')">
                    password is invalid
                  </span>

                  <span *ngIf="addTraderForm.get('password')?.hasError('required')">
                      password is required
                  </span>
              </span>

          </div>

        <div class="form-group ">

          <label for="address">Address</label>
          <input
           type="text"
           id="address"
           class="form-control"
           formControlName="address"
           placeholder="please enter the adress"
            >
          <span *ngIf="addTraderForm.get('address')?.invalid && addTraderForm.get('address')?.touched">
                  Adress is required
          </span>

        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input
           type="text"
           id="phone"
           class="form-control"
           formControlName="phoneNumber"
           placeholder="please enter phone"

           >

          <span *ngIf="addTraderForm.get('phoneNumber')?.invalid && addTraderForm.get('phoneNumber')?.touched">
            <span *ngIf="addTraderForm.get('phoneNumber')?.hasError('required')">
                  Phone number is required
            </span>
            <span *ngIf="addTraderForm.get('phoneNumber')?.hasError('pattern')">
                  Phone must be 11 number and start with 010 or 012 or 015 or 011
            </span>
          </span>

      </div>
    <div class="form-group ">

      <label for="costPerRefusedOrder">costPerRefusedOrder</label>
      <input
       type="number"
       id="costPerRefusedOrder"
       class="form-control"
       formControlName="costPerRefusedOrder"
       placeholder="please enter the costPerRefusedOrder"
        >
      <span *ngIf="addTraderForm.get('costPerRefusedOrder')?.invalid && addTraderForm.get('costPerRefusedOrder')?.touched">
        costPerRefusedOrder is required
      </span>

    </div>






<div class="form-group">
  <mat-form-field>
    <mat-label>Branch</mat-label>
    <mat-select formControlName="companyBranch">
      <mat-option *ngFor="let item of branchesArray" [value]="item.branchName">
        {{item.branchName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>





           <div class="form-group">
               <button class="btn btn-primary" type="submit" > Submit </button>

            </div>
           <div class="form-group">
             <a routerLink="/trader">

              <button class="btn btn-dark" type="submit" > Back </button>
             </a>


            </div>


  </form>

</div>


