<div class=" vh-100 p-4 bg-gray">

  <h5 class="mb-5 pb-4 fw-medium" style="font-size: 22px">
    Add City
  </h5>
  <div class="container bg-white py-3 px-5 my-5 rounded " style="width: 900px;">

    <form [formGroup]="addCityForm" (ngSubmit)="onsubmit(  )">

      <div class="form-group ">
        <label>Government</label>
        <select class="form-select" aria-label="Default select example" formControlName="government"
          [(ngModel)]="selectedGovernment">
          <option selected disabled hidden>Open this select menu</option>
          <option *ngFor="let item of governmentsArray " value={{item.goverment_Id}}>
            {{item.govermentName}}
          </option>
        </select>
        <span *ngIf="addCityForm.get('government')?.invalid && addCityForm.get('government')?.touched">
          Government is required
        </span>
        <br>

        <label for="cityName">Name</label>
        <input type="text" id="cityName" class="form-control" formControlName="cityName"
          placeholder="please enter the name" [(ngModel)]="cityName">
        <span *ngIf="addCityForm.get('cityName')?.invalid && addCityForm.get('cityName')?.touched">
          <span *ngIf="addCityForm.get('cityName')?.hasError('required')">
            this field is required

          </span>
          <span *ngIf="addCityForm.get('cityName')?.hasError('minlength')">
            name must be between 3 and 50 letters

          </span>
          <span *ngIf="addCityForm.get('cityName')?.hasError('maxlength')">
            name must be between 3 and 50 letters

          </span>

        </span>
        <br>

        <label for="normalShippingCost">Normal Shipping Cost</label>
        <input type="text" id="normalShippingCost" class="form-control" formControlName="normalShippingCost"
          [(ngModel)]="normalShippingCost">
        <span *ngIf="addCityForm.get('normalShippingCost')?.invalid && addCityForm.get('normalShippingCost')?.touched">

          <span *ngIf="addCityForm.get('normalShippingCost')?.hasError('required')">
            this field is required

          </span>

        </span>

        <br>

        <label for="pickupShippingCost">Pickup Shipping Cost</label>
        <input type="text" id="pickupShippingCost" class="form-control" formControlName="pickupShippingCost"
          [(ngModel)]="pickupShippingCost">
        <span *ngIf="addCityForm.get('pickupShippingCost')?.invalid && addCityForm.get('pickupShippingCost')?.touched">

          <span *ngIf="addCityForm.get('pickupShippingCost')?.hasError('required')">
            this field is required

          </span>

        </span>


      </div>




      <div>

      </div>



      <div class="d-flex flex-row justify-content-center">

        <div class="form-group ">
          <!-- <a routerLink="/Government"> -->

          <button class="btn btn-dark " type="submit" routerLink="/government"> Back </button>
          <!-- </a> -->

        </div>
        <div class="form-group ">
          <button class="btn btn-primary" type="submit"> Submit </button>

        </div>

      </div>






    </form>

  </div>

</div>